$tonos: (
  primary: (
    blue-50: #007dd1,
    blue-100: #0071bd,
    blue-200: #0066aa,
    blue-300: #005a96,
    blue-400: #004e83,
    blue-500: #00426f,
    blue-600: #00375b,
    blue-700: #002b48,
    blue-800: #001f34,
    blue-900: #001320,
  ),
  secondary: (
    lightBlue-50: #f8fcff,
    lightBlue-100: #e5f4ff,
    lightBlue-200: #d1edff,
    lightBlue-300: #bde5ff,
    lightBlue-400: #aaddff,
    lightBlue-500: #96d5ff,
    lightBlue-600: #83cdff,
    lightBlue-700: #6fc5ff,
    lightBlue-800: #5bbdff,
    lightBlue-900: #48b5ff,
  ),
  saturated: (
    blueGray-50: #1878b9,
    blueGray-100: #2077b1,
    blueGray-200: #2875a9,
    blueGray-300: #3074a1,
    blueGray-400: #387299,
    blueGray-500: #407091,
    blueGray-600: #486f89,
    blueGray-700: #506d81,
    blueGray-800: #586c79,
    blueGray-900: #606a71,
  ),
);