- let siteTitle = 'Web development';

- let mainPageTitle = '';

  //- SEO
-const author = 'Nelo Art'
-const twitterName = 'Perfil de twitter'
-const type = 'website'
-const description = 'Plantilla base para compilar html, css y javascript'
-const keywords = 'Las, keyword, van, separadas, por, coma'
-const url = 'La url en el servidor ej: http://www.miweb.com'
-const image = url + 'la ruta de la imágen (puede ser un screen de la web)'


- let siteTitle = 'Web development';

- let mainPageTitle = '';

  //- SEO
-const author = 'Nelo Art'
-const twitterName = 'Perfil de twitter'
-const type = 'website'
-const description = 'Plantilla base para compilar html, css y javascript'
-const keywords = 'Las, keyword, van, separadas, por, coma'
-const url = 'La url en el servidor ej: http://www.miweb.com'
-const image = url + 'la ruta de la imágen (puede ser un screen de la web)'


- let css = ['style', 'icons'];

- let scripts = [];

-let vincImg = ['../public/assets/img/'];