doctype html
html(lang="es").scroll
  block config
    include ../abstracts/config
  block mixin
    include ../mixins/mixin
  head
    block head
      //- include ../includes/head
      //- include ../includes/meta_tags
      //- include ../includes/favicon
    for style in css
      //- link(rel="stylesheet " href= `./css/${style}.css`)
    block title
      title= `${siteTitle.toUpperCase()} | ${mainPageTitle}`
  - let theme = false;
  body(class= theme ? 'dark-theme': '')

    block script
      //- Los scripts van en esta parte
